aiohttp
async-timeout
attrs
chardet
discord.py
idna-ssl
fuzzywuzzy
multidict
typing-extensions
numexpr
python-Levenshtein
virtualenv
websockets
yarl
pytz
pygsheets
oauth2client
markovify
Pillow
requests
websocket-client
